.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe5fd;
  padding: 20px 40px 0 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 220px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.logo-container {
position: absolute;
left: 150px;
top: 20px;
display: flex;
align-items: center;
}

.logo {
  height: 180px;
  width: 180px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.logo img {
  height: 230px;
}

.tagline {
  background-color: #ffe5fd;
  color: #3f2171;
  padding: 12px 20px;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
}

.nav-links {
display: flex;
justify-content: center;
gap: 30px;
margin-top: auto;
width: 100%;
background-color: #ffe5fd;
padding-bottom: 0;
}

.nav-link {
font-weight: normal;
font-size: 1.5rem;
color: #3f2171;
text-decoration: none;
padding: 12px 20px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
transition: background-color 0.3s ease;
background-color: transparent;
}

.nav-link.active {
  font-weight: 400;
  background-color: #cba6ea;
  color: #2a1b5f;
}

.nav-link:hover {
  background-color: #e9d0ff;
}

.paw-trail {
  position: absolute;
  margin-top: 10px;
  right: 80px; 
  display: flex;
  height: 190px;
  width: auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-link {
    width: 100%;
  }
}