<!DOCTYPE html>
<link rel="stylesheet" href="../css/variables.css" />
<nav class="navbar">
    <div class="logo-container">
        <div class="logo">
            <img src="../images/cailo-logo.png" alt="CAILO Logo" />
        </div>
    </div>

    <div class="tagline">Where Every Paw Finds a Home</div>

    <div class="nav-links d-flex justify-content-center gap-4 w-100">
        <a href="../index.html" class="nav-link active text-decoration-none">Cailo Adoption Shelter</a>
        <a href="../pages/cats.html" class="nav-link text-decoration-none">Adopt a Cat</a>
        <a href="../pages/dogs.html" class="nav-link text-decoration-none">Adopt a Dog</a>
        <a href="#" class="nav-link donate-link" data-bs-toggle="modal" data-bs-target="#donateModal">Donate! </a>
    </div>

    <div class="paw-trail">
        <img src="../images/paws.png" alt="Paws photo" class="img-fluid trail-next-to-logo" />
    </div>
</nav>
