<!DOCTYPE html>
<nav class="navbar">
  <div class="logo-container">
    <div class="logo">
      <img src="../images/cats/Cailo Logo.png" alt="CAILO Logo" />
    </div>
  </div>

  <div class="tagline">Where Every Paw Finds a Home</div>

  <div class="nav-links d-flex justify-content-center gap-4 w-100">
    <a href="#" class="nav-link active text-decoration-none">Cailo Adoption Shelter</a>
    <a href="#" class="nav-link text-decoration-none">Adopt a Cat</a>
    <a href="#" class="nav-link text-decoration-none">Adopt a Dog</a>
  </div>

  <div class="paw-trail">
    <img src="../images/cats/paws.png" alt="Paws photo" class="img-fluid trail-next-to-logo" />
  </div>
</nav>
